/* Components Layer - Design system component styles */
/* These styles are wrapped in @layer components by their source files */

/* Import component styles from @ds/wc */
/* Note: Component CSS files already declare @layer components internally */
/* postcss-import resolves these through node_modules */
@import "@ds/wc/src/components/button/button.css";
@import "@ds/wc/src/components/input/input.css";
@import "@ds/wc/src/components/link/link.css";
@import "@ds/wc/src/components/text/text.css";
@import "@ds/wc/src/components/icon/icon.css";
@import "@ds/wc/src/components/spinner/spinner.css";
@import "@ds/wc/src/components/visually-hidden/visually-hidden.css";
@import "@ds/wc/src/components/textarea/textarea.css";
@import "@ds/wc/src/components/checkbox/checkbox.css";
@import "@ds/wc/src/components/radio/radio.css";
@import "@ds/wc/src/components/switch/switch.css";
@import "@ds/wc/src/components/popover/popover.css";
@import "@ds/wc/src/components/tooltip/tooltip.css";
@import "@ds/wc/src/components/menu/menu.css";
